#about {
    position: relative;
    overflow: hidden;
    background: black;
    padding: 20px; /* Add padding to create space between the container edges and the content */
}

.about-content p {
    line-height: 1.5; /* Adjust the line-height as needed */
    text-align: justify;
}

.about-particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* Default styles */
.about-title {
    font-size: 36px;
}

.about-content {
    font-size: 14px;
}

/* Responsive font scaling */
@media screen and (max-width: 768px) {
    .about-title {
        font-size: 24px;
    }

    .about-content {
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    .about-title {
        font-size: 20px;
    }

    .about-content {
        font-size: 10px;
    }
}

#about .content {
    z-index: 2;
    position: relative;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%; /* Make content relative to allow stacking within #about */
}

.about-content {
    color: #fff;
    
    line-height: 1.5; /* Adjust the line-height as needed */
    text-align: justify;
    z-index: 3;
}

.about-title,
.about-content,
.about-container {
    position: relative; /* Adjust positioning */
}

.about-title {
    
    color: #fff;
   
    z-index: 3;
    margin-bottom: 10px; /* Add margin to separate title from content */
}

.about-content {
    color: #fff;
   
    z-index: 3;
}

#about .about-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.divider-line {
    width: 100%;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 50%; /* Position it in the middle vertically */
    transform: translateY(-50%);
    z-index: 1; /* Ensure the line is behind the sections */
}

.pixel-window {
    border: 4px solid #000;
    padding: 10px;
    background-color: white;
    width:20%;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 20px;
    z-index: 2;
    
}

.pixel-window p {
    font-size: 0.7em; /* Set font size relative to parent */
}

.pixel-window h2 {
    font-size: 0.9em; /* Set font size relative to parent */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .pixel-window p{
        /* Adjust font size as needed */
        font-size: 0.5em;
    }
    .pixel-window h2 {
        /* Adjust font size as needed */
        font-size: 0.7em;
    }

    .pixel-window {
        width: 30%; /* Adjust the width percentage as needed */
        /* Adjust margin as needed */
    }
}

@media screen and (max-width: 480px) {
    .pixel-window{
        /* Adjust font size as needed */
        font-size: 0.4em;
    }
    .pixel-window h2 {
        /* Adjust font size as needed */
        font-size: 0.6em;
    }

    .pixel-window {
        width: 10%; /* Adjust the width percentage as needed */
     
    }
}

#pixelImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}