/* styles.css */
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive; /* Pixel font */
    background: url('background.gif') center/cover no-repeat fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 3;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 3; /* Ensure text elements are in front of the canvas */
}

#name, #subtitle {
    
    display: block;
    margin: 0 auto; /* Set initial opacity to 0 for fade-in effect */
}

#name{
    margin-bottom: 2%;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #42a5f5;
}
