body {
    margin: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive; /* Pixel font */
    background: url('background.gif') center/cover no-repeat fixed; /* Replace 'your-background.gif' with your actual GIF */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 3;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

#name,
#subtitle {
    opacity: 0; /* Set initial opacity to zero */
}

#content h1,
#content p {
    margin: 0;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #42a5f5;
}
